body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#app {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    height: 90%;
}

header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
    flex: 0 0 auto;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    flex: 0 0 auto;
}

#nav button {
    padding: 10px 20px;
    border: none;
    background-color: #004080;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#nav button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#nav button:not(:disabled):hover {
    background-color: #003366;
}

#content-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    flex: 1 1 auto;
    overflow-y: auto;
}

#text-content, #visualization-content {
    transition: opacity 0.5s;
}

#visualization-content h2 {
    text-align: center;
    margin-top: 0;
}

.iframe-container {
    width: 100%;
    height: 400px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#progress {
    font-size: 16px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-wrapper {
    text-align: center;
    max-width: 48%;
}

.image-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.image-container img {
    max-width: 100%;
    max-height: 50vh;
    height: auto;
    border-radius: 10px;
    /* Some fade transitioning for the pictures */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image-container img.fade-in {
    opacity: 1; /* Make the image visible */
}
